# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# Sublime Text project settings
*.sublime-project
*.sublime-workspace

# VS Code project settings
.vscode/

# IDEs
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Python-environment in-project folder
.python-environment/

# PyCharm
*.iml
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries

# Spyder
.spyderproject
.spyproject

# Rope
.ropeproject